---
import CustomLink from '@components/CustomLink.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<style>
  .notFoundSection {
    padding: 0 12px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (width >= 768px) {
    .notFoundSection {
      padding: 0 32px;
    }
  }

  @media screen and (width >= 1200px) {
    .notFoundSection {
      padding: 0 48px;
    }
  }
</style>

<MainLayout title="Nof found | 404" description="Lorem ipsum dolor sit amet">
  <div class="notFoundSection">
    <h1>Page not found</h1>
    <div class="wrapper">
      <CustomLink href="/" text="Back to home page" />
      <p>404</p>
    </div>
  </div>
</MainLayout>
