---
import CustomLink from "@components/CustomLink.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<style>
  .notFoundSection {
    padding: 0;
    height: 80vh;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--element-gap);
    margin-top: var(--element-gap-large);
  }
</style>

<MainLayout title="Nof found | 404" description="Lorem ipsum dolor sit amet">
  <section class="notFoundSection">
    <h1>Page not found</h1>
    <div class="wrapper">
      <CustomLink href="/" text="Back to home page" />
      <p>404</p>
    </div>
  </section>
</MainLayout>
