---
const today = new Date();
---

<style>
  footer {
    padding: 12px 0;
    margin-bottom: 0;
    text-align: center;
    color: var(--color-text-muted);
  }

  @media screen and (width >= 768px) {
    footer {
      padding: 0 32px;
    }
  }

  @media screen and (width >= 1200px) {
    footer {
      padding: 0 48px;
    }
  }
</style>

<footer>
  <p>
    &copy; {today.getFullYear()} Veranika Kasparevych. <br />
  </p>
</footer>
