---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
    <div class="internal-links">
      <HeaderLink href="#about">About</HeaderLink>
      <HeaderLink href="#experience">Experience</HeaderLink>
      <HeaderLink href="#skills">Skills</HeaderLink>
      <HeaderLink href="#languages">Languages</HeaderLink>
      <HeaderLink href="#blog">Blog</HeaderLink>
      <HeaderLink href="#contact">Contact</HeaderLink>
    </div>
    <div><button>Download CV</button></div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    /* box-shadow: 0 2px 8px rgba(var(--black), 5%); */
    position: sticky;
    top: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
