---
interface Props {
  num: string;
  label: string;
  numStyle?: string;
}

const { num, label, numStyle } = Astro.props;
---

<div class="section-header fade-up">
  <div>
    <div class="section-num" style={numStyle}>{num}</div>
    <h2 class="section-label" set:html={label} />
  </div>
</div>
