---
interface Props {
  num: string;
  label: string;
  numClass?: string;
}

const { num, label, numClass } = Astro.props;
---

<div class="section-header fade-up">
  <div>
    <div class={`section-num${numClass ? ` ${numClass}` : ''}`}>{num}</div>
    <h2 class="section-label" set:html={label} />
  </div>
</div>
