---

---

<style></style>

<section id="about" class="section">
  <p>
    Creative front-end developer with a passion for building intuitive,
    user-centric web applications.Specializes in crafting seamless digital
    experiences using modern technologies like React, Next.js, and Astro. Known
    for problem-solving skills, collaborative mindset, and eagerness to embrace
    new challenges.
  </p>
</section>
