---
import articles from "@data/articles.json";
---

<style></style>

<section id="blog" class="section">
  {
    articles.articles.map((article) => (
      <div>
        <h4>{article.title}</h4>
        {/* <a href={article.link}>{article.buttonText}</a> */}
      </div>
    ))
  }
</section>
