---
import experience from '@data/experience.json';
---

<style></style>

<section id="experience" class="section">
  <div>
    {
      experience.experience.map((exp) => (
        <div>
          <h5>{exp.job_title}</h5>
          <p>{exp.date}</p>
          <p>{exp.company}</p>
          <ul>
            {exp.responsibilities.map((resp: string) => (
              <li>{resp}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
